//  Mixins

.mocap-textbox {
	color: $primary;
	background-color: transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	outline: none;
	width: 150px;
	height: auto;
	border: 1px solid $primary;
	padding: 10px;
}

.mocap-textbox-hov:hover {
	border: 1px solid $primary;
	outline: 0;
	color: $primary;
	background-color: $primary;
}

.mocap-textbox:focus {
	border: 1px solid $primary;
	outline: 0;
	color: $primary;
	background-color: transparent;
}
