//Variables

$primary: #ea5a00;
$secondary: #963A00;
$errors1: #c90c11;
$errors2: #350e04;
$background-url: "/home.gif";
$backcolor: #333333;
$backcolornav: #333333;
$colorintro: black;
$colorbutton: black;
