// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#session_username, #session_password, .btn-submit, #user_username, #user_password, #user_password_confirmation {
//background-color: $backcolor;
//}

/*padding for login and signup*/
.signup, .login {
	padding-top: 100px;
	padding-bottom: 100px;
}

.mocap-textbox {
	margin: 10px;
	width: 300px;

}

.signupcont {
	text-align: center;
}

.error-field {
	width: 400px;
	background-color: $errors2;
	border-color: $errors1;
	color: $errors1;
	text-align: left;
	margin: auto;
	margin-bottom: 20px;
}

input::-webkit-input-placeholder {
color: $secondary !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: $secondary !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: $secondary !important;  
}
 
input:-ms-input-placeholder {  
color: $secondary !important;  
}
