<% if @user.errors.any? %>
	<div class="mocap-textbox error-field">
		<%= pluralize(@user.errors.count, "error") %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
