 <!-- Search Section -->
        <section id="download">
            <div class="download-section">
                <div class="col-md-12 row">
                    <form class="form-inline" action="" method="GET">
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Actor</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                                 
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Gender</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Role</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <option value="" disabled selected>Choose Mood</option>
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control placeholder" placeholder="Search for snippets" />
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </section>
        <section id="moste populer">
            <div class="container-fluid">
                <div class=".col-md-4 gif-box">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                </div>
                <div class=".col-md-4 gif-box">
                    <img src="#">
                    <img src="#">
                    <img src="#">
                </div>
            </div>
        </section>

  