<!-- Search Section -->
<%= stylesheet_link_tag 'search' %>

<section id="searchbar">
	<div class="">
		<div class="col-md-12 search-section" id="search-section">
			<form class="form-inline" action="/TODO" method="GET">
				<div class="form-group">
					<select class="from-control placeholder">
								<option value="" disabled selected>Choose Actor</option>
								<option>option 1</option>
								<option>option 2</option>
					</select>
				</div>
				<div class="form-group">
					<select class="from-control placeholder">
								<option value="" disabled selected>Choose Gender</option>
								<option>option 1</option>
								<option>option 2</option>
					</select>
				</div>
				<div class="form-group">
					<select class="from-control placeholder">
								<option value="" disabled selected>Choose Role</option>
								<option>option 1</option>
								<option>option 2</option>
					</select>
				</div>
				<div class="form-group">
					<select class="from-control placeholder">
								<option value="" disabled selected>Choose Mood</option>
								<option>option 1</option>
								<option>option 2</option>
					</select>
				</div>
				<div class="form-group">
					<input type="text" class="placeholder" placeholder="Search for snippets" />
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</form>
			<h3><small> found motions: xxx</small></h3>
		</div>
	</div>

	<div class="container-fluid">
		<!-- Page Header -->
		<div class="row">
			<div class="col-md-12">
				<h1>most popular </h1>
				<hr>
			</div>
		</div>
		<!-- /.row -->

		<div class="row content-box">
			<div class="col-md-8 gif-container">
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box gif">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box gif">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 gif-box gif">
					<img class="img-responsive gif" src="/TODO" alt="#">
					<div class="gif-content">
						<a href="#"><h3>Motion</h3></a>
						<p>Attributes</p>
						xxx
						<div>
							<button class="btn btn-default btn-sm">BVH</button>
							<button class="btn btn-default btn-sm">C3D</button>
							<button class="btn btn-default btn-sm">FBX</button>
						</div>
					</div>
				</div>
				<!-- Pagination -->
				<div class="row text-center">
					<div class="col-md-12">
						<ul class="pagination">
							<li>
								<a href="#">&laquo;</a>
							</li>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#">5</a>
							</li>
							<li>
								<a href="#">&raquo;</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<div class="col-md-4 player-box">
				<div class="player-display">
					<canvas class="emscripten player-display" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
				</div>
				<div class="player-content">
					<img src="TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" />
					<div class="logo">
						<p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p></div>
					<h3>Motion</h3>
					<p>Attributes</p>
					xxx
				</div>
			</div>
		</div>
	</div>
</section>



<hr>
