    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                   <!--  <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/logo-bg.jpg" class="pull-left">
                     </a>-->


                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top">Go to top</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="file:///C:/Users/HP/Downloads/bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/application.html#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#download">Search Mocaps</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="file:///C:/Users/HP/Downloads/bootstrap-3.3.6-dist/bootstrap-3.3.6-dist/application.html#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Mocap.Web</h1>
                            <p class="intro-text">Cologne Motion Capture Database</p>
                        </div>
                    </div>
            </div>
        </header>



            <!-- Search Section -->
        <section id="searchbar">
            <div class="download-section">
                <div class="col-md-12 row" id="search-section">
                    <form class="form-inline" action="" method="GET">
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Actor</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                                 
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Gender</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <li class="hidden">
                                    <option value="" disabled selected>Choose Role</option>
                                    <option>option 1</option>
                                    <option>option 2</option>
                                </li>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <select class="from-control placeholder">
                                <option value="" disabled selected>Choose Mood</option>
                                <option>option 1</option>
                                <option>option 2</option>
                            </select>                          
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control placeholder" placeholder="Search for snippets" />
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                    <h3><small>total motions: xxx</small></h3>
                </div>
            </div>
        </section>

        <section id="moste popular">
            <div class="container-fluid">
               <!-- Page Header -->
                <div class="row">
                    <div class="col-md-12">
                        <h1>moste popular<hr>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row content-box">
                    <div class="col-md-10">
                        <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                        <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                        <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <div class="col-md-4 gif-box">
                            <img class="img-responsive" src="" alt="#">
                            <div class="gif-content">
                                <a href="#"><h3>Motion</h3></a>
                                <p>Attributes</p>
                                xxx
                                <div>
                                    <button class="btn btn-default">BVH</button>
                                    <button class="btn btn-default">C3D</button>
                                </div>                                
                            </div>             
                        </div>
                         <!-- Pagination -->
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
                    </div>
                    <div class="col-md-2">
                        <div class="player-box">
                          <canvas class="emscripten player-box" id="canvas" oncontextmenu="event.preventDefault()"></canvas>
                          <br>
                          <div class="logo"></div>
                          <div><img src="TemplateData/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
                          <div class="title">New Unity Project</div>
                        </div>
                        <p class="footer">&laquo; created with <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> &raquo;</p>
                    </div>
                </div>
            </div>
        </section>
