
body {
	color: #fff;
    background-color: #000;
}


a {
	color: #c90c11;
}

a:focus{
	color: #D1464A;	
}

.light {

	background-color: #171719;
}
.navbar-custom .navbar-brand .navbar-toggle {
	color: #f7f7f7;
}

.navbar-custom a {
	color: #f7f7f7; 
}

.navbar-custom .nav li.active a:hover {
	color: #f7f7f7;
}

.navbar-custom.top-nav-collapse {
	background: #171719;
}

.intro{

	color: #f7f7f7;
	background-color: #171719;
}

@media(min-width:768px) {
	height: 50%;
}

.btn-circle {
	color: #f7f7f7;
}

.btn-circle:focus {
	color: #f7f7f7;
}
.download-section {
	color: #f7f7f7;
   background-color: #171719;
}
.download-section {
	padding: 20px 10px;
}

.btn-default { 
	border: 1px solid #c90c11;
     color: #c90c11;
 }
 .btn-default:focus {
 	border: 1px solid #c90c11;
 	color: #171719;
 	background-color: #c90c11;
 }

