body{
	font-family: Helvetica, sans-serif;
	background-color: #FEF5F5;
    font-size: 14px;
}
.header{
	margin-top: 20px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.17);
}
img{
	max-width:100px; 
	margin-left: 15px;
	margin-top: 15px;
}
a.link{
	color: black;
}
a.link:hover{
	color: #B82187;
	text-decoration: none;
}
.navbar{
	margin-top: 20px;
	background-color: #4F4848;
}
.btn{
	font-family: Helvetica, sans-serif;
	color: white;
	background-color: #4F4848;
}
.btn:hover{
	color: #EA5C0C;
}
.btn:active{
	color: #C90C11;
}
.end_red{
	height: 40px;
	background-image: linear-gradient(white 0%, #C90C11);
}
.end_orange{
	height: 40px;
	background-image: linear-gradient(white 0%, #EA5C0C);
}
.end_pink{
	height: 40px;
	background-image: linear-gradient(white 0%, #B82187);
}
.carousel{
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 400px;
	width: 100%;
	background-color: white;
}
img.img-slide{
	height: 75%;
	width: 75%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
