<!DOCTYPE html>
<html>
 <head>
    <title>mocap</title>
    <%= stylesheet_link_tag     'application', media: 'all' , 'data-tourbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Custom CSS -->
        <link href="http://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.css" rel="stylesheet">
        <link href="config/css/dropdown.css" rel="stylesheet">

    <title>mocap.web</title>

         <link href="config/css/search1.css" rel="stylesheet">

         <!-- Custom Fonts -->

        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
    <body>

    </head>


    <body>
     <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                   <!--  <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/logo-bg.jpg" class="pull-left">
                     </a>-->


                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a class="page-scroll" href="#page-top">Go to top</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="searchDB.html">Search Mocaps</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
               <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Mocap.Web</h1>
                            <p class="intro-text">Cologne Motion Capture Database</p>
                        </div>
                    </div>
            </div>
        </header>

        <%= yield %>
             
    </body>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; TH Köln</p>
        </div>
    </footer>

</html>