<!DOCTYPE html>
<html>
<title>mocap</title>
<%= stylesheet_link_tag     'application', media: 'all' , 'data-tourbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- Bootstrap Core CSS -->
<link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="http://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.css" rel="stylesheet">
<link href="config/css/dropdown.css" rel="stylesheet">
<title>mocap.web</title>
<link href="config/css/search1.css" rel="stylesheet">

<!-- Custom Fonts -->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<body>
	<%render 'shared/navbar' %>
</body>
<%= yield %>

<!-- Footer -->
<footer>
	<div class="container text-center">
		<p>Copyright &copy; TH Köln</p>
	</div>
</footer>

</html>